@model ViewModelWithPublicationList
@section Heads{
    <link rel="stylesheet" href="~/css/Posts/index.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Saved";
}
<div class="row">
    <div class="posts-sidenav-container col-12 col-lg-2">
            <partial name="_PostsSideNavPartial" />
    </div>
    <div class="col-12 col-lg-8">
        <h1 class="publication-list-title">Saved publications</h1>
        @if (Model.Publications.Any())
        {
            <partial name="_PostsListPartial" />
            <partial name="_PostsPageSliderPartial" />
        }
        else
        {
            <div class="no-items-message">No items here. Try saving <a asp-controller="posts" asp-action="index">publications</a> from the <i class="fa fa-bookmark"></i> button to see publications here.</div>
        }
    </div>
    <div class="posts-sidenav-container col-12 col-lg-2">
        <partial name="_PostsGroupsSideNavPartial" />
    </div>
</div>
@section Scripts{
    <script src="~/js/posts.js"></script>
}