@model ArtVenue.Models.Category
@section Heads{
    <link rel="stylesheet" href="~/css/moderation/moderation.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Add category";
}
<div class="container">
    <h1>Add category</h1>
    <h4>Category</h4>
    <hr />
    <div>
        <form asp-action="AddCategory" id="category-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Category name</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CategoryImage" class="control-label">Category image</label>
                <input asp-for="CategoryImage" class="form-control" id="categoryImageInput" placeholder="Image URL" />
                <span asp-validation-for="CategoryImage"class="text-danger"></span>
            </div>
            <div class="form-floating" style="height:50px">
                <span> or </span>
                <label for="categoryImageUpload" class="custom-file-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Upload image
                </label>
                <input type="file" id="categoryImageUpload" />
                <span id="imageValidationText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryDescription" class="control-label">Category description</label>
                <input asp-for="CategoryDescription" class="form-control" />
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-buttons">
                <input type="button" id="categorySubmitButton" value="Create" class="btn btn-primary" />
            <a asp-action="categories">Back to all categories</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/categoryImageUpload.js"></script>
}
