@model AdminCategoriesViewModel
@foreach (var category in Model.Categories)
{
    <div class="row">
        <div class="col-8">
            @category.CategoryName
        </div>
        <div class="col-2">
            <a class="btn btn-outline-warning" asp-controller="admin" asp-action="category" asp-route-id="@category.Id">Modify</a>
        </div>
        <div class="col-2">
            <form asp-action="deletecategory" asp-route-id="@category.Id" method="post">
                <button type="submit" class="btn btn-danger">Delete category</button>
            </form>
        </div>
    </div>
}