@{
    ViewData["Title"] = "About";
}
@section Heads{
    <link rel="stylesheet" href="~/css/Home/privacy.css" asp-append-version="true" />
}

<div class="container">
    <h1>Welcome to ArtVenue!</h1>
    <h2>Getting Started</h2>
    <p>To get started, simply create an account by clicking on the "Join ArtVenue" button in the top right corner of the homepage. Once you have an account, you can start posting your art, DIY projects, and more, as well as interacting with other artists in our community.</p>
    <h2>Posting Content</h2>
    <p>To post content, click on the "New Post" button in the top right corner of the homepage. From there, you can select the type of content you want to post (e.g. art, DIY project, poetry) and upload your content. You can also add a title, description, and tags to help others find your post.</p>
    <h2>Interacting with Others</h2>
    <p>You can interact with other artists in our community by commenting on their posts, messaging them directly, or joining groups. To find groups, click on the "Groups" tab in the top navigation bar and search for groups that interest you. Once you join a group, you can post in the group, start discussions, and more.</p>
    <h2>Saving Ideas</h2>
    <p>You can save ideas for future reference by clicking on the "Save" button on any post. Saved posts will be collected on your profile under the "Saved" tab.</p>
    <h2>Support</h2>
    <p>If you need help, please contact our support team by messaging the accounts listed in the bottom right corner of the page.</p>
</div>