@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
}
@section Heads{
    <link rel="stylesheet" href="~/css/Home/homepage.css" asp-append-version="true" />
}
<div class="banner">
    <div class="dark-filter">
        <div class="banner-text">
            <h1>Welcome to ArtVenue</h1>
        <div class="welcome-msg-divider">
            <hr>
                <i class="fa-solid fa-paintbrush"></i>
                <i class="fa-solid fa-masks-theater"></i>
                <i class="fa-solid fa-music"></i>
                <i class="fa-solid fa-pen-fancy"></i>
                <i class="fa-solid fa-camera-retro"></i>
            <hr>
        </div>

        <p>Unleash your creativity and join the vibrant community of artists on ArtVenue. Our platform is designed to help you showcase your work, connect with fellow creatives, and discover new inspiration every day. Whether you're a painter, poet, musician, or photographer, ArtVenue provides a space for you to share your passion with the world. With direct chats, groups, and the ability to save your favorite works for later, ArtVenue is a hub for artists to connect, grow, and inspire one another.</p>
        <p>So why wait? Join ArtVenue today and start sharing your art with the world!</p>
        <a class="banner-button-register" asp-area="identity" asp-page="/account/register">Get started</a>
            <a class="banner-button-learn" asp-controller="home" asp-action="about">Learn more</a>
        </div>
    </div>
</div>
<div class="quote-container intro-quote">
    <img src="https://res.cloudinary.com/ddo3vrwcb/image/upload/v1676013822/dove_gsztmk.png" class="bg-image" />
    <p class="quote">"Art is the highest form of hope."<span class="quote-creator">- Gerhard Richter</span></p>
    ArtVenue was founded with the idea that art is not just a hobby, but a way to express emotions and experiences. We believe that art is limitless, and it takes many different forms. We believe that art is a way to connect with others, to share emotions and experiences, and to express ideas in a unique and powerful way. By showcasing a wide variety of art, we hope to inspire people to create their own masterpieces, and to see just how limitless the world of art truly is.
</div>
<div class="service-cards-container row">
    <h2>ArtVenue offers</h2>
    <div class="col-12 com-md-6 col-lg-3">
        <div class="service-card">
            <img src="https://res.cloudinary.com/ddo3vrwcb/image/upload/v1676014114/publications_il2uzf.png" />
            <h3>Publications</h3>
            <p>Share your work with the world and receive feedback and support.</p>
        </div>
    </div>
    <div class="col-12 com-md-6 col-lg-3">
        <div class="service-card">
            <img src="https://res.cloudinary.com/ddo3vrwcb/image/upload/v1676014157/save_nzev5w.png" />
            <h3>Save for Later</h3>
            <p>Keep track of your favorite pieces and come back to them later.</p>
        </div>
    </div>
    <div class="col-12 com-md-6 col-lg-3">
        <div class="service-card">
            <img src="https://res.cloudinary.com/ddo3vrwcb/image/upload/v1676014189/group_qx5opz.png" />
            <h3>Groups</h3>
            <p>Join or create groups with like-minded artists.</p>
        </div>
    </div>
    <div class="col-12 com-md-6 col-lg-3">
        <div class="service-card">
            <img src="https://res.cloudinary.com/ddo3vrwcb/image/upload/v1676014224/direct_hzlwjh.png" />
            <h3>Direct Chats</h3>
            <p>Connect with other artists and have private conversations.</p>
        </div>
    </div>
</div>
<div class="arts-icons-bg">
    <div class="quote-container">
        <p class="quote"><span class="quote-text-half">"Art is not a handicraft, it is the transmission of feeling the artist has experienced."</span><span class="quote-creator">- Leo Tolstoy</span></p>
        This quote captures the essence of ArtVenue's mission - to inspire and encourage people to create art. At ArtVenue, we believe that art has the power to bring hope, joy, and positivity into our lives, and we want to create a platform where artists can showcase their work and connect with others who share their passion for creativity. Our aim is to create a community of artists and art lovers, where everyone feels inspired to explore their artistic potential and make their mark on the world. So join us on this journey and let's create a brighter future, one masterpiece at a time.
    </div>
</div>
<div class="interests-showcase">
    <h2>Discover and follow new interests</h2>
    <div class="category-cards-container">
        @foreach (var category in Model.MainCategories)
        {
            <a asp-controller="posts" asp-action="category" asp-route-id="@category.Id" class="category-card">
                <img src="@category.CategoryImage" />
                <div class="category-card-text">
                    <h3>@category.CategoryName</h3>
                    <p>@category.CategoryDescription</p>
                </div>
            </a>
        }
    </div>
    <a asp-controller="discover" asp-action="index">See all categories</a>
</div>
<div class="container faq">
    <h1>Frequently asked questions:</h1>
    <div class="accordion accordion-flush" id="faqAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-headingOne">
                <button class="accordion-button collapsed NoLoader" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseOne" aria-expanded="false" aria-controls="faq-collapseOne">
                    <b>Q:</b> What is ArtVenue?
                </button>
            </h2>
            <div id="faq-collapseOne" class="accordion-collapse collapse" aria-labelledby="faq-headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body"><b>A:</b> ArtVenue is a platform where artists and art lovers can connect, showcase their work, and discover new art.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-headingTwo">
                <button class="accordion-button collapsed NoLoader" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseTwo" aria-expanded="false" aria-controls="faq-collapseTwo">
                    <b>Q:</b> Who can use ArtVenue?
                </button>
            </h2>
            <div id="faq-collapseTwo" class="accordion-collapse collapse" aria-labelledby="faq-headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body"><b>A:</b> ArtVenue is open to anyone who loves art and wants to share their creativity with the world. This includes artists, art enthusiasts, collectors, and more.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-headingThree">
                <button class="accordion-button collapsed NoLoader" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseThree" aria-expanded="false" aria-controls="faq-collapseThree">
                    <b>Q:</b> How do I showcase my art on ArtVenue?
                </button>
            </h2>
            <div id="faq-collapseThree" class="accordion-collapse collapse" aria-labelledby="faq-headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body"><b>A:</b> Simply create an account and start uploading your art to your profile. You can add details about your art, such as title, description, and medium, to help others discover and appreciate your work.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-headingFour">
                <button class="accordion-button collapsed NoLoader" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseFour" aria-expanded="false" aria-controls="faq-collapseFour">
                    <b>Q:</b> How do I discover new art on ArtVenue?
                </button>
            </h2>
            <div id="faq-collapseFour" class="accordion-collapse collapse" aria-labelledby="faq-headingFour" data-bs-parent="#faqAccordion">
                <div class="accordion-body"><b>A:</b> You can browse through the many categories of art on the site, or use the search bar to find specific artists or types of art. You can also follow your favorite artists to see their latest work.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq-headingFive">
                <button class="accordion-button collapsed NoLoader" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseFive" aria-expanded="false" aria-controls="faq-collapseFive">
                    <b>Q:</b> Is ArtVenue free to use?
                </button>
            </h2>
                <div id="faq-collapseFive" class="accordion-collapse collapse" aria-labelledby="faq-headingFive" data-bs-parent="#faqAccordion">
                <div class="accordion-body"><b>A:</b> Yes, ArtVenue is free to use and there are no hidden fees. You can sign up and start showcasing your art right away.</div>
            </div>
        </div>
    </div>
</div>
<div class="register-section">
    <h2>Join the ArtVenue community today and be a part of the limitless world of art.</h2> <p>Explore new art styles and techniques, connect with like-minded artists and showcase your own creations to a world of art lovers. With ArtVenue, the possibilities are endless. Register now and see where your artistic journey can take you!</p>
    <a asp-area="identity" asp-page="/account/login">Sign up for free</a>
</div>
@section Scripts{
    <script>
        // Set variables for tracking mouse position and element scrolling
        var currentX = 0, currentY = 0, startX = 0, startY = 0, distanceX = 0, distanceY = 0, isDragging = false;

        // Listen for mousedown event on the category cards container
        document.querySelector('.category-cards-container').addEventListener('mousedown', function (e) {
            // Prevent default behavior for mousedown event
            e.preventDefault();
            document.querySelector('.category-cards-container').style.cursor = "grabbing"
            // Set start position for mouse and set isDragging to true
            startX = e.pageX;
            startY = e.pageY;
            isDragging = true;
        });

        // Listen for mousemove event on the document
        document.addEventListener('mousemove', function (e) {
            // If isDragging is true, update current mouse position and calculate distance
            if (isDragging) {
                currentX = e.pageX;
                currentY = e.pageY;
                distanceX = currentX - startX;
                distanceY = currentY - startY;

                // Scroll the category cards container by the distance of the mouse movement
                document.querySelector('.category-cards-container').scrollLeft -= distanceX;

                // Reset start position for mouse to current position
                startX = currentX;
                startY = currentY;
            }
        });

        // Listen for mouseup event on the document
        document.addEventListener('mouseup', function (e) {
            // Set isDragging to false
            document.querySelector('.category-cards-container').style.cursor = "grab"
            isDragging = false;
        });
    </script>
}

