@{
    ViewData["Title"] = "About";
}
@section Heads{
    <link rel="stylesheet" href="~/css/Home/privacy.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/technologies.css" asp-append-version="true" />
}
<div class="container technologies-container">
    <h1>Technologies used</h1>
    <p>ArtVenue is a social media website for artists that utilizes a variety of technologies to provide an engaging and interactive experience for its users.</p>
    <h2><a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/technologies-logos/aspnet.png" height="30" width="30"/>Asp.Net 6<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>The website is built using Asp.Net 6, a framework for developing web applications. This allows for efficient and streamlined development, as well as seamless integration with other technologies.</p>
    <h2><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-7.0" target="_blank" class="NoLoader" rel="noopener">Razor syntax<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>The Razor syntax is used for the website's views, which are the pages that the user interacts with. This syntax allows for easy mixing of HTML and C# code, making it easy to create dynamic and interactive pages.</p>
    <h2>HTML, CSS and JavaScript</h2>
    <p>HTML, CSS, and JavaScript are used to create the website's layout and styling. JQuery is also used, which is a JavaScript library that simplifies the process of working with HTML and CSS.</p>
    <h2><a href="https://sass-lang.com/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/technologies-logos/sass.png" height="30" width="30" />SASS<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>SASS is used for the website's styling, which is a preprocessor that makes it easier to write and maintain CSS. Bootstrap is also used, which is a popular framework for building responsive and mobile-friendly websites.</p>
    <h2><a href="https://fontawesome.com/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/technologies-logos/fontawesome.png" height="30" width="30" />FontAwesome<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>FontAwesome is used for the website's icons, which is a library of scalable vector icons that can be customized and styled with CSS.</p>
    <h2>Entity and Identity framework</h2>
    <p>The website also uses the Entity framework, which is an Object-Relational Mapping (ORM) tool that allows for easy interaction with the website's database. This allows for efficient data storage and retrieval. The Identity framework is used for the website's user authentication and authorization, which is a built-in framework for managing users and their roles in an application.</p>
    <h2><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/signalr" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/technologies-logos/signalr.png" height="30" width="30" />SignalR<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>SignalR is used for real-time communication, which allows for instant updates and notifications on the website.</p>
    <h2><a href="https://cloudinary.com/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/technologies-logos/cloudinary.png" height="30" width="30" />Cloudinary<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>Cloudinary is used for media management, which is a cloud-based image and video management service that allows for easy storage and retrieval of media files.</p>
    <h2><a href="https://visualstudio.microsoft.com/vs/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/technologies-logos/vs2022.png" height="30" width="30" />Visual Studio 2022<i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
    <p>The website is developed using Visual Studio 2022, which is a popular integrated development environment (IDE) for .NET developers.</p>
    <br />
    <p>Overall, the combination of these technologies allows for a dynamic and interactive experience for users of ArtVenue, with efficient data management and real-time communication capabilities.</p>
</div>
