<div class="container error-container">
    <h1 class="text-danger">Oops, something went wrong...</h1>
    <h2 class="text-danger">
        Oh no! It looks like something went wrong in the ArtVenue world. Don't worry, our team of artistic engineers is on it and will have everything back to its colorful, creative state in no time. In the meantime, let's take a moment to appreciate the words of Pablo Picasso, 'Art washes away from the soul the dust of everyday life.' Sit back, relax, and imagine the beauty that's to come. Thank you for your patience.
    </h2>
</div>