@using Microsoft.AspNetCore.Identity
@using ArtVenue.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div id="userNavigationMini">
        <a class="nav-link" asp-controller="posts" asp-action="saved"><i class="fas fa-bookmark"></i> <span class="hiddenOnMobile">Saved</span></a>
        <div class="dropdown">
            <a class="nav-link" asp-area="identity" asp-page="/account/manage/index" title="Manage account"><i class="fas fa-user"></i><span class="hiddenOnMobile"> @UserManager.FindByNameAsync(User.Identity.Name).Result.FirstName</span></a>
            <div class="dropdown-content">
                <a class="nav-link" asp-area="identity" asp-page="/account/manage/index" aria-label="Go to account"><i class="fa-solid fa-user-cog"></i>Account</a>
                <a class="nav-link" asp-controller="posts" asp-action="create" aria-label="Go to create"><i class="fa-solid fa-circle-plus"></i>Create</a>
                <a class="nav-link" asp-controller="posts" asp-action="saved" aria-label="Go to saved"><i class="fa-solid fa-bookmark"></i>Saved</a>
                <a class="nav-link" asp-controller="chat" asp-action="index" aria-label="Go to chats"><i class="fa-solid fa-message"></i>Chats</a>
                <a class="nav-link" asp-controller="groups" asp-action="index" aria-label="Go to groups"><i class="fa-solid fa-user-group"></i>Groups</a>
                <hr />
                <form class="form-inline" asp-area="Identity" asp-page="/account/logout" asp-route-returnUrl="@Url.Action("index", "home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link" aria-label="logout"><i class="fas fa-sign-out-alt"></i>Sign out</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <a class="nav-link" id="signInButton" asp-area="Identity" asp-page="/Account/Login">Join ArtVenue</a>
}