<nav id="topNav" class="navbar navbar-expand-lg">
        <a class="navbar-brand" asp-controller="home" asp-action="index" id="homeIcon"><img src="~/img/logos/logo-sm-dark.png" alt="ArtVenue" /></a>
        <div class="collapse navbar-collapse" id="navBarContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item hiddenOnMobile">
                    <a asp-controller="home" asp-action="index" class="nav-link">Home</a>
                </li>
                <li class="nav-item hiddenOnMobile">
                    <a asp-controller="home" asp-action="about" class="nav-link">About</a>
                </li>
                <li class="nav-item hiddenOnMobile">
                    <a asp-controller="home" asp-action="privacy" class="nav-link">Privacy</a>
                </li>
                <li class="nav-item hiddenOnMobile">
                    <a asp-controller="discover" asp-action="index" class="nav-link">Discover</a>
                </li>
                <li class="nav-item hiddenOnMobile">
                        <button class="NoLoader" id="topNavOpenSearchButton">
                            <i class="fas fa-search"></i>
                        </button>
                        <form asp-controller="discover" asp-action="search" id="topNav-search" method="get">
                            <select name="searchType">
                                <option value="categories">Categories</option>
                                <option value="users">Users</option>
                                <option value="groups">Groups</option>
                            </select>
                            <input type="search" id="topNavSearch" name="search" placeholder="Search..."/>
                            <button type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                </li>
                <li class="nav-item hiddenOnBigScreen" id="themeSwitcherMobile" onclick="switchTheme()" title="Switch theme">
                    <i class="fas fa-lg" id="themeIdenticatorMobile"></i>
                </li>
            </ul>
        </div>
        <partial name="_LoginPartial" />
        <button id="themeSwitcher" class="NoLoader" onclick="switchTheme()" title="Switch theme"><i class="fas fa-lg" id="themeIdenticator"></i></button>
        <div id="mobileMenuToggler" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
</nav>

<menu id="mobileMenu">
    <ul>
        <li class="nav-item hiddenOnBigScreen">
            <h5><i class="fas fa-sm fa-search text-mainColor"></i><span>Search</span></h5>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <form asp-controller="discover" asp-action="search" method="get" id="mobileMenu-searchBar">
                <select name="searchType">
                    <option value="categories">Categories</option>
                    <option value="users">Users</option>
                    <option value="groups">Groups</option>
                </select>
                <input type="search" name="search" aria-label="Search" placeholder="Search for a title, actor or keyword">
                <button type="submit" aria-label="start search"><i class="fas fa-search fa-sm"></i></button>
            </form>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="index" class="nav-link">Home</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="about" class="nav-link">About</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="privacy" class="nav-link">Privacy</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="discover" asp-action="index" class="nav-link">Discover</a>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <h5><i class="fas fa-sm fa-user text-mainColor"></i><span>Account</span></h5>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-area="identity" asp-page="/account/manage/index">Account</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-controller="posts" asp-action="create" aria-label="Go to create">Create</a>
        </li>
         <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-controller="posts" asp-action="saved" aria-label="Go to saved">Saved</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-controller="chat" asp-action="index" aria-label="Go to chats">Chats</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-controller="groups" asp-action="index" aria-label="Go to groups">Groups</a>
        </li>


        <li class="nav-item hiddenOnBigScreen">
            <form class="form-inline" asp-area="Identity" asp-page="/account/logout" asp-route-returnUrl="@Url.Action("index", "home", new { area = "" })">
                <button type="submit" class="nav-item" id="signOutButton-mobile">Sign out</button>
            </form>
        </li>
        <hr />
    </ul>
</menu>