@import '../Utility/_colors.scss';
#loaderContainer {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    background-color: rgba(255,255,255,.4);
    display: none;
}
.loader-section {
    width: 30%;
    display: inline-block;
    min-height: 215px;
    vertical-align: top;
    margin: 1%;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 75px;
        display: inline-block;
        vertical-align: middle;
    }

    .loader-4 {
        border: 10px double $mainColor;
        -webkit-animation: ball-turn 1s linear infinite;
        animation: ball-turn 1s linear infinite;
    }

    .loader-4:before,
    .loader-4:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: $mainColor;
        border-radius: 50%;
        bottom: -12px;
        right: 40px;
    }

    .loader-4:after {
        left: 40px;
        top: -12px;
    }
}
@media only screen and (max-width: 600px) {
    .loader-section {
        min-width: 350px;
    }
}
@-webkit-keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.theme-dark {
    #loaderContainer {
        background-color: rgba(0,0,0,.4);
    }
}