main {
  max-width: 1920px;
  margin: auto;
}

#topNav {
  background-color: #28363d;
  padding-bottom: 7px;
  padding-top: 7px;
  z-index: 5;
  padding-left: 10px;
  padding-right: 10px;
  height: 68px;
}
#topNav #topNavOpenSearchButton {
  background-color: transparent;
  border: none;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
#topNav #topNav-search {
  font-size: 0;
  padding-top: 16px;
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  display: inline-block;
}
#topNav #topNav-search select, #topNav #topNav-search input, #topNav #topNav-search button {
  font-size: 1.15rem;
  height: 35px;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background-color: rgba(97, 145, 148, 0.4);
  color: #EFFCFF;
}
#topNav #topNav-search input {
  padding-left: 10px;
  width: 350px;
  border-left: 1px solid rgba(97, 145, 148, 0.7);
}
#topNav #topNav-search input::placeholder {
  color: #EFFCFF;
  opacity: 0.7;
}
#topNav #topNav-search select {
  padding: 0 10px;
}
#topNav #topNav-search option {
  background-color: white;
  color: #28363d;
}
#topNav i.fas {
  margin-right: 3px;
}
#topNav a {
  all: unset;
}
#topNav .nav-item, #topNav .nav-link {
  cursor: pointer;
  color: #EFFCFF;
  font-size: 1.15rem;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#topNav .nav-link:not(.dropdown-content *) {
  line-height: 68px;
  vertical-align: bottom;
}
#topNav .navbar-brand {
  padding: 7px;
  padding-right: 0;
  cursor: pointer;
}
#topNav #homeIcon {
  color: #eb6600;
  font-family: Arial, Helvetica, sans-serif;
}
#topNav #homeIcon img {
  height: 40px;
}
#topNav input:focus, #topNav button:focus, #topNav select:focus {
  outline: none;
}
#topNav .dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
  margin-right: 10px;
}
#topNav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 4;
}
#topNav .dropdown-content a.nav-link, #topNav .dropdown-content button {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #28363d;
  display: block;
  padding-left: 0;
}
#topNav .dropdown-content a.nav-link:hover, #topNav .dropdown-content button:hover {
  color: #eb6600;
}
#topNav .dropdown-content hr {
  margin-top: 8px;
  margin-bottom: 8px;
  border-color: #eb6600;
}
#topNav .dropdown-content i {
  width: 43px;
}
#topNav .dropdown-content .fa-bookmark {
  color: #fd7e14;
}
#topNav .dropdown-content .fa-circle-plus {
  color: #619194;
}
#topNav .dropdown-content .fa-user-cog {
  color: #eb6600;
}
#topNav .dropdown-content .fa-message {
  color: #03fff7;
}
#topNav .dropdown-content .fa-user-group {
  color: #ff6bae;
}
#topNav .dropdown-content .fa-sign-out-alt {
  color: #28363d;
  width: auto;
  margin-right: 25px;
}
#topNav .dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (max-width: 667px) {
  #topNav .navbar-brand {
    margin-bottom: 3px;
    padding-left: 0;
  }
  #topNav .dropdownNav-link {
    padding-left: 15px;
    color: #EFFCFF;
  }
  #topNav .nav-item {
    margin-left: 0;
    font-size: large;
  }
  #topNav .navbar-toggler {
    all: unset;
    padding-right: 15px;
    color: white;
  }
}
@media only screen and (max-width: 1305px) {
  #topNav #navSearchBar {
    width: 435px;
  }
  #topNav #navSearchBar input {
    width: 300px;
  }
}
#topNav #themeSwitcher {
  background-color: transparent;
  border: 0;
  margin-left: 15px;
  margin-right: 20px;
  width: 26px;
}
#topNav #themeIdenticator {
  transition: color 0.7s ease;
}
#topNav #themeSwitcherMobile {
  background-color: #87ceeb;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -5px;
  padding-left: 0;
  text-align: center;
  height: 35px;
  position: relative;
}
#topNav #themeSwitcherMobile #themeIdenticatorMobile {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#topNav #signInButton {
  background-color: #eb6600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  line-height: initial;
}
#topNav .fas {
  color: #619194;
}
#topNav .fa-sun {
  color: #FDB813;
}
#topNav .fa-moon {
  color: #F4F6F0;
}
#topNav #randomButton:hover i {
  transition: color 0.3s ease;
  color: #eb6600;
}

#scrollArrow {
  cursor: pointer;
  position: fixed;
  left: 15px;
  top: 30px;
  z-index: 1;
  font-size: x-large;
}

.theme-dark #topNav .dropdown-content {
  background-color: #28363d;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.1);
}
.theme-dark #topNav .dropdown-content a.nav-link, .theme-dark #topNav .dropdown-content button {
  color: #EFFCFF;
}
.theme-dark #topNav .dropdown-content a.nav-link:hover, .theme-dark #topNav .dropdown-content button:hover {
  color: #eb6600;
}
.theme-dark #topNav .dropdown-content .fa-sign-out-alt {
  color: #619194;
}
.theme-dark #topNav #themeSwitcherMobile {
  background-color: #131862;
}

#mobileMenu {
  display: none;
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 70px;
    height: 100%;
  }
  html {
    height: 100%;
  }
  #topNav {
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 3px solid #eb6600;
    padding-right: 0;
  }
  #topNav #signInButton {
    margin: 0;
    padding: 3px;
  }
  #topNav .dropdown:hover .dropdown-content {
    display: none;
  }
  #topNav #themeSwitcher {
    margin-left: 10px;
    padding-left: 0;
    margin-right: 0px;
    justify-content: right;
  }
  #mobileMenu {
    display: block;
    position: fixed;
    top: 70px;
    width: 0;
    margin: 0;
    background-color: #28363d;
    overflow: hidden;
    padding-left: 0;
    transition: 0.5s;
    height: calc(100% - 70px);
    padding-top: 20px;
    overflow-y: visible;
    z-index: 2;
  }
  #mobileMenu ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
  }
  #mobileMenu ul li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #mobileMenu ul li a {
    white-space: nowrap;
    color: #EFFCFF;
    font-size: inherit;
  }
  #mobileMenu ul li button {
    white-space: nowrap;
    padding: 0;
    color: #EFFCFF;
    font-size: inherit;
  }
  #mobileMenu ul li h5 {
    white-space: nowrap;
    padding: 0;
    color: #EFFCFF;
    padding-top: 3px;
    font-size: inherit;
  }
  #mobileMenu ul li hr {
    border-color: #619194;
    color: #619194;
    background-color: #619194;
  }
  #mobileMenu ul li .fas {
    margin-right: 10px;
  }
  #mobileMenu ul li .dropdownNav-link, #mobileMenu ul li button {
    padding-left: 35px;
  }
  #mobileMenu ul li #mobileMenu-searchBar select {
    width: 100%;
    background-color: #28363d;
    border: none;
    outline: none;
    color: #eb6600;
  }
  #mobileMenu ul li form {
    display: block;
  }
  #mobileMenu ul li form button {
    all: unset;
    white-space: nowrap;
    width: 10%;
    background-color: transparent;
    color: #619194;
    font-size: 20px;
  }
  #mobileMenu ul li form #signOutButton-mobile {
    all: unset;
    white-space: nowrap;
    padding-left: 35px;
    font-size: inherit;
    background-color: transparent;
    color: #EFFCFF;
  }
  #mobileMenu ul li form input[type=search] {
    all: unset;
    white-space: nowrap;
    width: 80%;
    color: #EFFCFF;
    margin-right: 0px;
    padding-right: 0px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 200ms ease-out;
    -moz-transition: border-bottom 200ms ease-out;
    -o-transition: border-bottom 200ms ease-out;
    transition: border-bottom 200ms ease-out;
    padding-right: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #mobileMenu ul li form input[type=search]:focus {
    border-bottom: 2px solid #eb6600;
  }
  #mobileMenu ul li form input[type=search]:focus + button {
    color: #eb6600;
  }
  #mobileMenu ul li form input::placeholder {
    color: #EFFCFF;
    opacity: 0.5;
  }
  #mobileMenu.open {
    width: 100vw;
    transition: 0.5s;
  }
  #mobileMenuToggler {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #mobileMenuToggler span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #eb6600;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #userNavigationMini {
    margin-left: auto;
    margin-bottom: -5px;
  }
  #userNavigationMini .fas {
    font-size: x-large;
  }
  /* Mobile menu opener */
  #mobileMenuToggler span:nth-child(1) {
    top: 0px;
  }
  #mobileMenuToggler span:nth-child(2), #mobileMenuToggler span:nth-child(3) {
    top: 18px;
  }
  #mobileMenuToggler span:nth-child(4) {
    top: 36px;
  }
  #mobileMenuToggler.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #mobileMenuToggler.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #mobileMenuToggler.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #mobileMenuToggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #mobileMenuToggler {
    transform: scale(0.5);
    padding: 0;
    margin: 0;
  }
  #scrollArrow {
    top: 90px;
    z-index: 0;
  }
}
@media only screen and (max-width: 349px) {
  #topNav #themeSwitcher {
    margin-left: auto;
  }
  #topNav #userNavigationMini {
    display: none;
  }
}
