@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300&family=Sacramento&display=swap");
.privacy-header {
  height: 500px;
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  color: #EFFCFF;
  position: relative;
  z-index: 1;
}
.privacy-header h1 {
  text-align: center;
  padding: 25px;
  padding-top: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  font-weight: bold;
  font-size: 66px;
}
.privacy-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/login-bg.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position-y: center;
}

.about-header:before {
  background-image: url("../../img/about.jpg");
}

.container {
  margin: 50px auto;
  padding: 40px;
  background-color: #28363d;
  color: #EFFCFF;
  font-family: "Montserrat", Arial, sans-serif;
}

.shield-list {
  list-style: none;
}
.shield-list li::before {
  font-family: "Font Awesome 6 free";
  content: "\f132";
  color: #eb6600;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  color: #eb6600;
  margin-top: 20px;
}

h3 {
  font-size: large;
  opacity: 0.7;
  font-weight: 100;
}
