.technologies-container {
    a {
        color: inherit;
        text-decoration: none;
    }

    h2 {
        position: relative;

        img {
            margin-right: 10px;
            margin-bottom: 7px;
        }

        i {
            margin-left: 7px;
            font-size: medium;
            position: absolute;
            top: 2px;
            color: #619194;
        }
    }
}
