@model ArtVenue.Models.Group

@{
    ViewData["Title"] = "Create group";
}
@section Heads{
    <style>
        input[type="file"] {
            display: none;
        }

        .form-floating .custom-file-upload {
            border: 3px solid #eb6600;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            pointer-events: all;
            height: 45px;
            color: #eb6600;
            margin-left: 30px;
            transition: all .2s;
            pointer-events:all;
        }

        .custom-file-upload .fas {
            color: #eb6600;
        }
    </style>
}
<div class="container">
    <h1>Create group</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="groupForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GroupName" class="control-label"></label>
                    <input asp-for="GroupName" class="form-control" />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsPrivate" /> Private group
                    </label>
                </div>
                <div class="form-floating">
                    <input asp-for="GroupPicture" class="form-control" id="groupImageInput" placeholder="Image URL" />
                    <label asp-for="GroupPicture"></label>
                    <span asp-validation-for="GroupPicture" class="text-danger"></span>
                </div>
                <div class="form-floating" style="height:50px">
                    <span> or </span>
                    <label for="imageUpload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Upload image
                    </label>
                    <input type="file" id="imageUpload" />
                    <span id="imageValidationText" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="GroupBackground" class="form-control" id="groupBackgroundInput" placeholder="Image URL" />
                    <label asp-for="GroupBackground"></label>
                    <span asp-validation-for="GroupBackground" class="text-danger"></span>
                </div>
                <div class="form-floating" style="height:50px">
                    <span> or </span>
                    <label for="backgroundUpload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Upload image
                    </label>
                    <input type="file" id="backgroundUpload" />
                    <span id="backgroundValidationText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Create" class="btn btn-primary" id="groupFormButton" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="index">Back to your groups</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/groupImages.js"></script>
}
