@model ArtVenue.Models.Group
@section Heads{
    <link rel="stylesheet" href="~/css/moderation/moderation.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Delete "+ Model.GroupName;
}
<div class="container">
<h1>Delete @Model.GroupName</h1>

<h3>Are you sure you want to delete @Model.GroupName ?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="index">Back to your groups</a>
    </form>
</div>
</div>
