.controlPanel {
  margin-top: 50px;
}
.controlPanel .control-card {
  height: 300px;
  margin: 30px auto;
  border-radius: 10px;
  color: #EFFCFF;
  width: 70%;
}
.controlPanel .control-card .icon-container {
  font-size: 100px;
  position: relative;
  height: 70%;
}
.controlPanel .control-card .icon-container i {
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controlPanel .control-card a {
  font-size: xx-large;
  font-weight: bolder;
  display: block;
  text-align: center;
  color: #EFFCFF;
}
.controlPanel .users {
  background-color: #EDC047;
}
.controlPanel .publications {
  background-color: #59CDB1;
}
.controlPanel .groups {
  background-color: #00A7D7;
}
.controlPanel .categories {
  background-color: #AB82BC;
}
.controlPanel .manageModerators-button {
  width: 84%;
  background-color: #eb6600;
}

.theme-dark .controlPanel {
  color: #EFFCFF;
}
