$color-accent: #FF9800;
$color-light: #DFE0DF;
$color-dark: #2F4858;

$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #2F4858;
$mainColor: #FF9800;
$textColor: #EFFCFF;
$successColor: #22BB33;
$starColor: rgb(245, 197, 24);
$secondaryColor-light-semiTransparent: rgba(153, 174, 187, 0.5);
$secondaryColor-dark-semiTransparent: rgba(54, 73, 84, 0.5);
$textColor-semiTransparent: rgba(230, 244, 241, 0.5)
