.container {
  border: 2px solid transparent;
  transition: border-color 250ms;
  margin-top: 50px;
}

.chatsContainer {
  background-color: #619194;
  padding: 20px;
}
.chatsContainer * {
  transition: all 250ms;
}
.chatsContainer h2 {
  text-align: center;
  color: #EFFCFF;
}
.chatsContainer .chatList {
  padding: 15px;
}
.chatsContainer .chatList .chat-item {
  background-color: #EFFCFF;
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: #28363d;
  border-radius: 20px;
}
.chatsContainer .chatList .chat-item img {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.chatsContainer .chatList .chat-item .chatName {
  font-size: x-large;
}
.chatsContainer .chatList .chat-item p {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.chatsContainer .chatList .chat-item .chat-lastDate {
  text-align: right;
  opacity: 0.7;
  margin-top: 0;
}
.chatsContainer .chatList .chat-item:hover .chatName {
  color: #eb6600;
}

.theme-dark .container {
  border-color: #619194;
}
.theme-dark .chatsContainer {
  background-color: #28363d;
}
.theme-dark .chatsContainer .chatList .text-muted {
  color: #EFFCFF !important;
  opacity: 0.7;
}
.theme-dark .chatsContainer .chatList .chat-item {
  background-color: #619194;
  color: #EFFCFF;
}
