@import "../Utility/_colors.scss";
@import "../Utility/_timings.scss";
main{
    min-height:initial;
}
.chat-container .col-12 {
    padding: 0;
}
.msger {
    display: inline-block;
    border: 2px solid $secondaryColor-light;
    border-left: none;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: calc(100vh - 68px);
}

.msger-header {
    padding: 10px;
    border-bottom: 2px solid $secondaryColor-light;
    background: $textColor;


    img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    a {
        font-size: x-large;
        text-decoration: none;
        color: $secondaryColor-dark;
    }
    a:hover{
        color:$mainColor;
    }
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    padding-right: 50px;
    height: calc(100vh - 218px);
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: $secondaryColor-light;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: $secondaryColor-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: $secondaryColor-light;
    color: $textColor;
    word-break: break-word;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: $mainColor;
    color: $textColor;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border: 2px solid $secondaryColor-light;
    background: #eee;
    border-left: none;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: $textColor;
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: $textColor;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}
