.user-header {
  max-width: 85%;
  margin: 40px auto;
}
.user-header * {
  transition: all 250ms;
}
.user-header .user-cover-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-color: #619194;
  border-radius: 20px;
}
.user-header .user-cover-container img {
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
  object-fit: cover;
}
.user-header .user-cover-container a {
  border-radius: 10px;
  line-height: 20px;
  display: inline-block;
  background-color: #619194;
  color: #EFFCFF;
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 7px 15px;
  text-decoration: none;
  opacity: 0.7;
}
.user-header .user-cover-container a i {
  margin-right: 5px;
}
.user-header .user-cover-container a:hover {
  opacity: 1;
}
.user-header .profile-name-container {
  position: relative;
  padding-left: 255px;
  padding-top: 10px;
  height: 110px;
}
.user-header .profile-name-container img {
  border-radius: 50%;
  border: 3px solid #EFFCFF;
  object-fit: cover;
  position: absolute;
  left: 80px;
  top: -90px;
}
.user-header .profile-name-container h1 {
  color: #28363d;
  margin-bottom: 0;
}
.user-header .profile-name-container span {
  color: #28363d;
  opacity: 0.7;
  font-size: medium;
}
.user-header .user-info-container {
  color: #28363d;
}
.user-header .user-info-container a {
  color: #eb6600;
  text-decoration: none;
}
.user-header .user-info-container a:hover {
  border-bottom: 1px solid #eb6600;
}

.theme-dark .user-header .profile-name-container img {
  border-color: #28363d;
}
.theme-dark .user-header .profile-name-container h1, .theme-dark .user-header .profile-name-container span {
  color: #EFFCFF;
}
.theme-dark .user-info-container {
  color: #EFFCFF;
}
