@import "../Utility/_colors.scss";
@import "../Utility/_timings.scss";
.user-header {
    max-width: 100vw;
    margin: 40px auto;

    * {
        transition: all $changeThemeAnimationTime;
    }

    .user-cover-container {
        position:relative;
        img {
            width: 900px;
            max-height: 500px;
            border-radius: 20px;
        }
        a{
            border-radius:10px;
            line-height:20px;
            display:inline-block;
            background-color:$secondaryColor-light;
            color:$mainColor;
            position:absolute;
            bottom:20px;
            right:100px;
            padding:7px 15px;
            text-decoration:none;
        }
    }

    .profile-name-container {
        position: relative;
        padding-left: 210px;
        padding-top: 10px;
        height: 110px;

        img {
            border-radius: 50%;
            border: 3px solid $textColor;
            object-fit: cover;
            position: absolute;
            left: 30px;
            top: -90px;
        }

        h1 {
            color: $secondaryColor-dark;
            margin-bottom: 0;
        }

        span {
            color: $secondaryColor-dark;
            opacity: 0.7;
            font-size: medium;
        }
    }

    .user-info-container{
        color:$secondaryColor-dark;
        a{
            color:$mainColor;
            text-decoration:none;
        }
        a:hover{
            border-bottom:1px solid $mainColor;
        }
    }
}
.theme-dark {
    .user-header {
        .profile-name-container {
            img {
                border-color: $secondaryColor-dark;
            }

            h1, span {
                color: $textColor;
            }
        }
    }

    .user-info-container {
        color: $textColor;
    }
}