@import "../Utility/_colors.scss";
@import "../Utility/_timings.scss";
.user-header {
    max-width: 85%;
    margin: 40px auto;

    * {
        transition: all $changeThemeAnimationTime;
    }

    .user-cover-container {
        position: relative;
        width: 100%;
        min-height: 300px;
        background-color: $secondaryColor-light;
        border-radius: 20px;

        img {
            width: 100%;
            max-height: 500px;
            border-radius: 20px;
            object-fit: cover;
        }

        a {
            border-radius: 10px;
            line-height: 20px;
            display: inline-block;
            background-color: $secondaryColor-light;
            color: $textColor;
            position: absolute;
            bottom: 20px;
            right: 30px;
            padding: 7px 15px;
            text-decoration: none;
            opacity: 0.7;

            i {
                margin-right: 5px;
            }
        }

        form {
            position: absolute;
            bottom: 20px;
            right: 30px;

            i {
                margin-right: 5px;
                position: absolute;
                top: 8px;
                left: 12px;
                color: $textColor;
            }
        }

        input {
            border-radius: 10px;
            line-height: 20px;
            display: inline-block;
            width: 200px;
            color: $textColor;
            padding: 7px 15px;
            text-decoration: none;
            border: none;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 32px;
        }



        a:hover {
            opacity: 1;
        }
    }

    .profile-name-container {
        position: relative;
        padding-left: 255px;
        padding-top: 10px;
        height: 110px;

        img {
            border-radius: 50%;
            border: 3px solid $textColor;
            object-fit: cover;
            position: absolute;
            left: 80px;
            top: -90px;
        }

        h1 {
            color: $secondaryColor-dark;
            margin-bottom: 0;
        }

        span {
            color: $secondaryColor-dark;
            opacity: 0.7;
            font-size: medium;
        }
    }

    .user-info-container {
        color: $secondaryColor-dark;

        a {
            color: $mainColor;
            text-decoration: none;
        }

        a:hover {
            border-bottom: 1px solid $mainColor;
        }
    }
}
.theme-dark {
    .user-header {
        .profile-name-container {
            img {
                border-color: $secondaryColor-dark;
            }

            h1, span {
                color: $textColor;
            }
        }
    }

    .user-info-container {
        color: $textColor;
    }
}